.css_cpbbh_det_label {text-align: left;vertical-align: middle;}
.css_cpbbh_det_line {height:0px;text-align: left;}
.css_cpbmc_det_label {text-align: left;vertical-align: middle;}
.css_cpbmc_det_line {height:0px;text-align: left;}
.css_tbbh_det_label {text-align: left;vertical-align: middle;}
.css_tbbh_det_line {height:0px;text-align: left;}
.css_zbggbh_det_label {text-align: left;vertical-align: middle;}
.css_zbggbh_det_line {height:0px;text-align: left;}
.css_cgbbh_det_label {text-align: left;vertical-align: middle;}
.css_cgbbh_det_line {height:0px;text-align: left;}
.css_cgbmc_det_label {text-align: left;vertical-align: middle;}
.css_cgbmc_det_line {height:0px;text-align: left;}
.css_begintime_det_label {text-align: left;vertical-align: middle;}
.css_begintime_det_line {height:0px;text-align: left;}
.css_endtime_det_label {text-align: left;vertical-align: middle;}
.css_endtime_det_line {height:0px;text-align: left;}
.css_tjsj_det_label {text-align: left;vertical-align: middle;}
.css_tjsj_det_line {height:0px;text-align: left;}
