.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: right;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: right;}
.css_zjbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zjbh_grid_line {vertical-align: top;text-align: right;}
.css_xm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xm_grid_line {vertical-align: top;text-align: right;}
.css_xb_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xb_grid_line {vertical-align: top;text-align: right;}
.css_zc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zc_grid_line {vertical-align: top;text-align: right;}
.css_yddh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yddh_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_zbggbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zbggbh_grid_line {vertical-align: top;text-align: right;}
.css_sfzh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sfzh_grid_line {vertical-align: top;text-align: right;}
.css_gzdw_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_gzdw_grid_line {vertical-align: top;text-align: right;}
.css_zy_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zy_grid_line {vertical-align: top;text-align: right;}
.css_work_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_work_grid_line {vertical-align: top;text-align: right;}
.css_pc_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_pc_grid_line {vertical-align: top;text-align: right;}
.css_dlr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dlr_grid_line {vertical-align: top;text-align: right;}
.css_dlsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dlsj_grid_line {vertical-align: top;text-align: center;}
