.css_zbggbh_det_label {text-align: right;vertical-align: middle;}
.css_zbggbh_det_line {height:0px;text-align: right;}
.css_cgbbh_det_label {text-align: right;vertical-align: middle;}
.css_cgbbh_det_line {height:0px;text-align: right;}
.css_cgbmc_det_label {text-align: right;vertical-align: middle;}
.css_cgbmc_det_line {height:0px;text-align: right;}
.css_zjbh_det_label {text-align: right;vertical-align: middle;}
.css_zjbh_det_line {height:0px;text-align: right;}
.css_xm_det_label {text-align: right;vertical-align: middle;}
.css_xm_det_line {height:0px;text-align: right;}
.css_xb_det_label {text-align: right;vertical-align: middle;}
.css_xb_det_line {height:0px;text-align: right;}
.css_sfzh_det_label {text-align: right;vertical-align: middle;}
.css_sfzh_det_line {height:0px;text-align: right;}
.css_gzdw_det_label {text-align: right;vertical-align: middle;}
.css_gzdw_det_line {height:0px;text-align: right;}
.css_zy_det_label {text-align: right;vertical-align: middle;}
.css_zy_det_line {height:0px;text-align: right;}
.css_work_det_label {text-align: right;vertical-align: middle;}
.css_work_det_line {height:0px;text-align: right;}
.css_zc_det_label {text-align: right;vertical-align: middle;}
.css_zc_det_line {height:0px;text-align: right;}
.css_yddh_det_label {text-align: right;vertical-align: middle;}
.css_yddh_det_line {height:0px;text-align: right;}
.css_email_det_label {text-align: right;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: right;}
.css_pc_det_label {text-align: right;vertical-align: middle;}
.css_pc_det_line {height:0px;text-align: right;}
.css_dlr_det_label {text-align: right;vertical-align: middle;}
.css_dlr_det_line {height:0px;text-align: right;}
.css_dlsj_det_label {text-align: right;vertical-align: middle;}
.css_dlsj_det_line {height:0px;text-align: right;}
