.css_bzmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bzmc_grid_line {vertical-align: top;text-align: right;}
.css_isqs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isqs_grid_line {vertical-align: top;text-align: right;}
.css_isjs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isjs_grid_line {vertical-align: top;text-align: right;}
.css_yhlx_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yhlx_grid_line {vertical-align: top;text-align: right;}
.css_bmlx_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bmlx_grid_line {vertical-align: top;text-align: right;}
.css_isgdyh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isgdyh_grid_line {vertical-align: top;text-align: right;}
.css_gdyh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_gdyh_grid_line {vertical-align: top;text-align: right;}
.css_listorder_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_listorder_grid_line {vertical-align: top;text-align: right;}
.css_lcbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lcbh_grid_line {vertical-align: top;text-align: right;}
.css_ms_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ms_grid_line {vertical-align: top;text-align: right;}
