.css_cpbmc_det_label {text-align: right;vertical-align: middle;}
.css_cpbmc_det_line {height:0px;text-align: right;}
.css_tbbh_det_label {text-align: right;vertical-align: middle;}
.css_tbbh_det_line {height:0px;text-align: right;}
.css_zbggbh_det_label {text-align: right;vertical-align: middle;}
.css_zbggbh_det_line {height:0px;text-align: right;}
.css_cgbbh_det_label {text-align: right;vertical-align: middle;}
.css_cgbbh_det_line {height:0px;text-align: right;}
.css_cgbmc_det_label {text-align: right;vertical-align: middle;}
.css_cgbmc_det_line {height:0px;text-align: right;}
.css_qymc_det_label {text-align: right;vertical-align: middle;}
.css_qymc_det_line {height:0px;text-align: right;}
.css_yprs_det_label {text-align: right;vertical-align: middle;}
.css_yprs_det_line {height:0px;text-align: right;}
.css_zrs_det_label {text-align: right;vertical-align: middle;}
.css_zrs_det_line {height:0px;text-align: right;}
.css_zscj_det_label {text-align: right;vertical-align: middle;}
.css_zscj_det_line {height:0px;text-align: right;}
