.css_cpbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cpbmc_grid_line {vertical-align: top;text-align: right;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: right;}
.css_qymc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qymc_grid_line {vertical-align: top;text-align: right;}
.css_yprs_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_yprs_grid_line {vertical-align: top;text-align: right;}
.css_zrs_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zrs_grid_line {vertical-align: top;text-align: right;}
.css_zscj_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zscj_grid_line {vertical-align: top;text-align: right;}
.css_zscj_tot_ger {text-align: ;}
.css_evalindextj_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalindextj_grid_line {text-align: center;}
.css_evalzgyj_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalzgyj_grid_line {text-align: center;}
