.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: right;}
.css_qymc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qymc_grid_line {vertical-align: top;text-align: right;}
.css_isbsxz_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isbsxz_grid_line {vertical-align: top;text-align: right;}
.css_istb_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_istb_grid_line {vertical-align: top;text-align: right;}
.css_isrw_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isrw_grid_line {vertical-align: top;text-align: right;}
.css_isqualified_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isqualified_grid_line {vertical-align: top;text-align: right;}
.css_kyzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_kyzt_grid_line {vertical-align: top;text-align: right;}
.css_spgl_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_spgl_grid_line {text-align: right;}
.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: right;}
.css_qylogin_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qylogin_grid_line {vertical-align: top;text-align: right;}
.css_lxr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lxr_grid_line {vertical-align: top;text-align: right;}
.css_sm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sm_grid_line {vertical-align: top;text-align: right;}
.css_dlr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dlr_grid_line {vertical-align: top;text-align: right;}
.css_dlsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dlsj_grid_line {vertical-align: top;text-align: center;}
