.css_subject_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_subject_grid_line {vertical-align: top;text-align: left;}
.css_phone_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_phone_grid_line {vertical-align: top;text-align: left;}
.css_intime_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_intime_grid_line {vertical-align: top;text-align: center;}
.css_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_content_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_content_grid_line {vertical-align: top;text-align: left;}
.css_reviewer_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reviewer_grid_line {vertical-align: top;text-align: left;}
