.css_subject_det_label {text-align: left;vertical-align: middle;}
.css_subject_det_line {height:0px;text-align: left;}
.css_content_det_label {text-align: left;vertical-align: middle;}
.css_content_det_line {height:0px;text-align: left;}
.css_intime_det_label {text-align: left;vertical-align: middle;}
.css_intime_det_line {height:0px;text-align: left;}
.css_status_det_label {text-align: left;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: left;}
.css_phone_det_label {text-align: left;vertical-align: middle;}
.css_phone_det_line {height:0px;text-align: left;}
.css_dlr_det_label {text-align: left;vertical-align: middle;}
.css_dlr_det_line {height:0px;text-align: left;}
.css_reviewer_det_label {text-align: left;vertical-align: middle;}
.css_reviewer_det_line {height:0px;text-align: left;}
.css_reviewtime_det_label {text-align: left;vertical-align: middle;}
.css_reviewtime_det_line {height:0px;text-align: left;}
