.css_xmbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xmbh_grid_line {vertical-align: top;text-align: left;}
.css_xmmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xmmc_grid_line {vertical-align: top;text-align: left;}
.css_ysje_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ysje_grid_line {vertical-align: top;text-align: right;}
.css_ysje_sub_tot {text-align: right;}
.css_ysje_tot_ger {text-align: right;}
.css_zjly_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zjly_grid_line {vertical-align: top;text-align: left;}
.css_xmfzr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xmfzr_grid_line {vertical-align: top;text-align: left;}
.css_sbbm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sbbm_grid_line {vertical-align: top;text-align: left;}
.css_sbrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_sbrq_grid_line {vertical-align: top;text-align: center;}
.css_shzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shzt_grid_line {vertical-align: top;text-align: left;}
.css_splc_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_splc_grid_line {text-align: left;}
.css_splcxx_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_splcxx_grid_line {text-align: center;}
.css_ysly_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ysly_grid_line {vertical-align: top;text-align: left;}
.css_sbr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sbr_grid_line {vertical-align: top;text-align: left;}
.css_qwcgrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_qwcgrq_grid_line {vertical-align: top;text-align: center;}
.css_lxr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lxr_grid_line {vertical-align: top;text-align: left;}
.css_lxdh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lxdh_grid_line {vertical-align: top;text-align: left;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: left;}
.css_cjsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_cjsj_grid_line {vertical-align: top;text-align: center;}
