.css_cgfs_label { }
.css_cgfs_line {text-align:left;}
.css_cgfs_obj {text-align:left;}
.css_isneed_label { }
.css_isneed_line { }
.css_isneed_obj { }
.css_isauto_label { }
.css_isauto_line { }
.css_isauto_obj { }
.css_zdrs_label { }
.css_zdrs_line {text-align:left;}
.css_zdrs_obj {text-align:left;}
.css_zsrs_label { }
.css_zsrs_line {text-align:left;}
.css_zsrs_obj {text-align:left;}
.css_xzcs_label { }
.css_xzcs_line {text-align:left;}
.css_xzcs_obj {text-align:left;}
.css_qyzt_label { }
.css_qyzt_line { }
.css_qyzt_obj { }
