.css_zgyj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zgyj_grid_line {vertical-align: top;text-align: left;}
.css_tjsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tjsj_grid_line {vertical-align: top;text-align: center;}
