.css_htmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_htmc_grid_line {vertical-align: top;text-align: left;}
.css_htbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_htbh_grid_line {vertical-align: top;text-align: left;}
.css_htje_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_htje_grid_line {vertical-align: top;text-align: right;}
.css_fkje_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_fkje_grid_line {vertical-align: top;text-align: right;}
.css_fkje_tot_ger {text-align: right;}
.css_fkzb_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_fkzb_grid_line {vertical-align: top;text-align: right;}
.css_fklx_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fklx_grid_line {vertical-align: top;text-align: left;}
.css_fkjd_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_fkjd_grid_line {vertical-align: top;text-align: right;}
.css_fkdjrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fkdjrq_grid_line {vertical-align: top;text-align: center;}
.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: left;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: left;}
.css_sjfkrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_sjfkrq_grid_line {vertical-align: top;text-align: center;}
.css_dlsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dlsj_grid_line {vertical-align: top;text-align: center;}
