.css_inserted_date_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_inserted_date_grid_line {vertical-align: top;text-align: center;}
.css_username_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_username_grid_line {vertical-align: top;text-align: right;}
.css_application_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_application_grid_line {vertical-align: top;text-align: right;}
.css_ip_user_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ip_user_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_description_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_description_grid_line {vertical-align: top;text-align: right;}
