.css_inserted_date_det_label {text-align: left;vertical-align: middle;}
.css_inserted_date_det_line {height:0px;text-align: left;}
.css_username_det_label {text-align: left;vertical-align: middle;}
.css_username_det_line {height:0px;text-align: left;}
.css_application_det_label {text-align: left;vertical-align: middle;}
.css_application_det_line {height:0px;text-align: left;}
.css_ip_user_det_label {text-align: left;vertical-align: middle;}
.css_ip_user_det_line {height:0px;text-align: left;}
.css_sc_field_0_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: left;}
.css_description_det_label {text-align: left;vertical-align: middle;}
.css_description_det_line {height:0px;text-align: left;}
