.css_cpbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cpbmc_grid_line {vertical-align: top;text-align: left;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: left;}
.css_qymc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qymc_grid_line {vertical-align: top;text-align: left;}
.css_begintime_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_begintime_grid_line {vertical-align: top;text-align: center;}
.css_endtime_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_endtime_grid_line {vertical-align: top;text-align: center;}
.css_cpbbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_cpbbh_grid_line {vertical-align: top;text-align: right;}
.css_zbggbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zbggbh_grid_line {vertical-align: top;text-align: right;}
.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: left;}
.css_tjsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tjsj_grid_line {vertical-align: top;text-align: center;}
