.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: left;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: left;}
.css_cgys_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_cgys_grid_line {vertical-align: top;text-align: right;}
.css_cgfs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgfs_grid_line {vertical-align: top;text-align: left;}
.css_cgyxm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgyxm_grid_line {vertical-align: top;text-align: left;}
.css_cgylxdh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgylxdh_grid_line {vertical-align: top;text-align: left;}
.css_cgzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgzt_grid_line {vertical-align: top;text-align: left;}
.css_cgybh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgybh_grid_line {vertical-align: top;text-align: left;}
.css_dlr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dlr_grid_line {vertical-align: top;text-align: left;}
.css_dlsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dlsj_grid_line {vertical-align: top;text-align: center;}
