.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: left;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: left;}
.css_bj_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bj_grid_line {vertical-align: top;text-align: right;}
.css_jsfile_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_jsfile_grid_line {vertical-align: top;text-align: left;}
.css_swfile_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_swfile_grid_line {vertical-align: top;text-align: left;}
.css_qtfile_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qtfile_grid_line {vertical-align: top;text-align: left;}
.css_tjsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tjsj_grid_line {vertical-align: top;text-align: center;}
.css_zbggbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zbggbh_grid_line {vertical-align: top;text-align: right;}
.css_qylogin_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qylogin_grid_line {vertical-align: top;text-align: left;}
.css_lxr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lxr_grid_line {vertical-align: top;text-align: left;}
.css_qymc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qymc_grid_line {vertical-align: top;text-align: left;}
