.css_mc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mc_grid_line {vertical-align: top;text-align: right;}
.css_sfzg_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sfzg_grid_line {vertical-align: top;text-align: right;}
.css_isdefault_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isdefault_grid_line {vertical-align: top;text-align: right;}
.css_tjsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tjsj_grid_line {vertical-align: top;text-align: center;}
.css_cpbview_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_cpbview_grid_line {text-align: right;}
.css_intro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_intro_grid_line {vertical-align: top;text-align: right;}
.css_tjr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tjr_grid_line {vertical-align: top;text-align: right;}
