.css_mc_det_label {text-align: left;vertical-align: middle;}
.css_mc_det_line {height:0px;text-align: left;}
.css_intro_det_label {text-align: left;vertical-align: middle;}
.css_intro_det_line {height:0px;text-align: left;}
.css_sfzg_det_label {text-align: left;vertical-align: middle;}
.css_sfzg_det_line {height:0px;text-align: left;}
.css_isdefault_det_label {text-align: left;vertical-align: middle;}
.css_isdefault_det_line {height:0px;text-align: left;}
.css_tjr_det_label {text-align: left;vertical-align: middle;}
.css_tjr_det_line {height:0px;text-align: left;}
.css_tjsj_det_label {text-align: left;vertical-align: middle;}
.css_tjsj_det_line {height:0px;text-align: left;}
