.css_cgbbh_det_label {text-align: left;vertical-align: middle;}
.css_cgbbh_det_line {height:0px;text-align: left;}
.css_cgbmc_det_label {text-align: left;vertical-align: middle;}
.css_cgbmc_det_line {height:0px;text-align: left;}
.css_cgfs_det_label {text-align: left;vertical-align: middle;}
.css_cgfs_det_line {height:0px;text-align: left;}
.css_bzj_det_label {text-align: left;vertical-align: middle;}
.css_bzj_det_line {height:0px;text-align: left;}
.css_bskssj_det_label {text-align: left;vertical-align: middle;}
.css_bskssj_det_line {height:0px;text-align: left;}
.css_bsjssj_det_label {text-align: left;vertical-align: middle;}
.css_bsjssj_det_line {height:0px;text-align: left;}
.css_bsf_det_label {text-align: left;vertical-align: middle;}
.css_bsf_det_line {height:0px;text-align: left;}
.css_xckssj_det_label {text-align: left;vertical-align: middle;}
.css_xckssj_det_line {height:0px;text-align: left;}
.css_xcjssj_det_label {text-align: left;vertical-align: middle;}
.css_xcjssj_det_line {height:0px;text-align: left;}
.css_wzqd_det_label {text-align: left;vertical-align: middle;}
.css_wzqd_det_line {height:0px;text-align: left;}
.css_zbkssj_det_label {text-align: left;vertical-align: middle;}
.css_zbkssj_det_line {height:0px;text-align: left;}
.css_zbjssj_det_label {text-align: left;vertical-align: middle;}
.css_zbjssj_det_line {height:0px;text-align: left;}
.css_zbfile_det_label {text-align: left;vertical-align: middle;}
.css_zbfile_det_line {height:0px;text-align: left;}
.css_lxr_det_label {text-align: left;vertical-align: middle;}
.css_lxr_det_line {height:0px;text-align: left;}
.css_bgdh_det_label {text-align: left;vertical-align: middle;}
.css_bgdh_det_line {height:0px;text-align: left;}
.css_yddh_det_label {text-align: left;vertical-align: middle;}
.css_yddh_det_line {height:0px;text-align: left;}
.css_fax_det_label {text-align: left;vertical-align: middle;}
.css_fax_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_postcode_det_label {text-align: left;vertical-align: middle;}
.css_postcode_det_line {height:0px;text-align: left;}
.css_dz_det_label {text-align: left;vertical-align: middle;}
.css_dz_det_line {height:0px;text-align: left;}
.css_kfh_det_label {text-align: left;vertical-align: middle;}
.css_kfh_det_line {height:0px;text-align: left;}
.css_yhzh_det_label {text-align: left;vertical-align: middle;}
.css_yhzh_det_line {height:0px;text-align: left;}
.css_ybqy_det_label {text-align: left;vertical-align: middle;}
.css_ybqy_det_line {height:0px;text-align: left;}
.css_xmsm_det_label {text-align: left;vertical-align: middle;}
.css_xmsm_det_line {height:0px;text-align: left;}
.css_shsj_det_label {text-align: left;vertical-align: middle;}
.css_shsj_det_line {height:0px;text-align: left;}
.css_shzt_det_label {text-align: left;vertical-align: middle;}
.css_shzt_det_line {height:0px;text-align: left;}
.css_sfjs_det_label {text-align: left;vertical-align: middle;}
.css_sfjs_det_line {height:0px;text-align: left;}
