.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: right;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: right;}
.css_bzj_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bzj_grid_line {vertical-align: top;text-align: right;}
.css_bsf_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bsf_grid_line {vertical-align: top;text-align: right;}
.css_zbkssj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_zbkssj_grid_line {vertical-align: top;text-align: center;}
.css_shzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shzt_grid_line {vertical-align: top;text-align: right;}
.css_splc_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_splc_grid_line {text-align: right;}
.css_splcxx_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_splcxx_grid_line {text-align: center;}
.css_cgfs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgfs_grid_line {vertical-align: top;text-align: right;}
.css_bskssj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bskssj_grid_line {vertical-align: top;text-align: center;}
.css_bsjssj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bsjssj_grid_line {vertical-align: top;text-align: center;}
.css_xckssj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_xckssj_grid_line {vertical-align: top;text-align: center;}
.css_xcjssj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_xcjssj_grid_line {vertical-align: top;text-align: center;}
.css_zbjssj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_zbjssj_grid_line {vertical-align: top;text-align: center;}
.css_lxr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lxr_grid_line {vertical-align: top;text-align: right;}
.css_bgdh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bgdh_grid_line {vertical-align: top;text-align: right;}
.css_yddh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yddh_grid_line {vertical-align: top;text-align: right;}
.css_fax_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fax_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_postcode_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_postcode_grid_line {vertical-align: top;text-align: right;}
.css_dz_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dz_grid_line {vertical-align: top;text-align: right;}
.css_kfh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_kfh_grid_line {vertical-align: top;text-align: right;}
.css_yhzh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yhzh_grid_line {vertical-align: top;text-align: right;}
.css_xmsm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xmsm_grid_line {vertical-align: top;text-align: right;}
