.css_shbz_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shbz_grid_line {vertical-align: top;text-align: left;}
.css_shyj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shyj_grid_line {vertical-align: top;text-align: left;}
.css_fj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fj_grid_line {vertical-align: top;text-align: left;}
.css_tjr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tjr_grid_line {vertical-align: top;text-align: left;}
.css_shsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_shsj_grid_line {vertical-align: top;text-align: center;}
.css_shzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shzt_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_sjbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_sjbh_grid_line {vertical-align: top;text-align: right;}
.css_shlc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shlc_grid_line {vertical-align: top;text-align: left;}
