.css_cpbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cpbmc_grid_line {vertical-align: top;text-align: right;}
.css_p_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_cgbbh_grid_line {vertical-align: top;text-align: right;}
.css_p_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_cgbmc_grid_line {vertical-align: top;text-align: right;}
.css_p_qymc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_qymc_grid_line {vertical-align: top;text-align: right;}
.css_p_begintime_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_p_begintime_grid_line {vertical-align: top;text-align: center;}
.css_p_endtime_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_p_endtime_grid_line {vertical-align: top;text-align: center;}
.css_p_tjsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_p_tjsj_grid_line {vertical-align: top;text-align: center;}
.css_p_cpbbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_cpbbh_grid_line {vertical-align: top;text-align: right;}
.css_p_tbbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_tbbh_grid_line {vertical-align: top;text-align: right;}
.css_p_zbggbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_zbggbh_grid_line {vertical-align: top;text-align: right;}
.css_p_tjr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_tjr_grid_line {vertical-align: top;text-align: right;}
