.css_p_cpbbh_det_label {text-align: left;vertical-align: middle;}
.css_p_cpbbh_det_line {height:0px;text-align: left;}
.css_cpbmc_det_label {text-align: left;vertical-align: middle;}
.css_cpbmc_det_line {height:0px;text-align: left;}
.css_p_tbbh_det_label {text-align: left;vertical-align: middle;}
.css_p_tbbh_det_line {height:0px;text-align: left;}
.css_p_zbggbh_det_label {text-align: left;vertical-align: middle;}
.css_p_zbggbh_det_line {height:0px;text-align: left;}
.css_p_cgbbh_det_label {text-align: left;vertical-align: middle;}
.css_p_cgbbh_det_line {height:0px;text-align: left;}
.css_p_cgbmc_det_label {text-align: left;vertical-align: middle;}
.css_p_cgbmc_det_line {height:0px;text-align: left;}
.css_p_qymc_det_label {text-align: left;vertical-align: middle;}
.css_p_qymc_det_line {height:0px;text-align: left;}
.css_p_isremind_det_label {text-align: left;vertical-align: middle;}
.css_p_isremind_det_line {height:0px;text-align: left;}
.css_p_remindtime_det_label {text-align: left;vertical-align: middle;}
.css_p_remindtime_det_line {height:0px;text-align: left;}
.css_p_begintime_det_label {text-align: left;vertical-align: middle;}
.css_p_begintime_det_line {height:0px;text-align: left;}
.css_p_endtime_det_label {text-align: left;vertical-align: middle;}
.css_p_endtime_det_line {height:0px;text-align: left;}
.css_p_tjr_det_label {text-align: left;vertical-align: middle;}
.css_p_tjr_det_line {height:0px;text-align: left;}
.css_p_tjsj_det_label {text-align: left;vertical-align: middle;}
.css_p_tjsj_det_line {height:0px;text-align: left;}
.css_p_autoid_det_label {text-align: left;vertical-align: middle;}
.css_p_autoid_det_line {height:0px;text-align: left;}
